apiVersion: v1
kind: Service
metadata:
  name: candlestick-backend-service
  labels:
    name: candlestick-backend-service
    app: candlestick-backend-app
  namespace: _{_NAMESPACE_}_
spec:
  type: LoadBalancer
  ports:
    - port: 80
      targetPort: 3000
      nodePort: 30011
      protocol: TCP
  selector:
    name: candlestick-backend-app-pod
    app: candlestick-backend-app